@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

:root {
    --activeBG: hsl(172, 67%, 45%);
    --btnsBG: hsl(183, 100%, 15%);
    --card: hsl(183, 100%, 15%);
    --leftText: hsl(186, 14%, 43%);
    --placeholderText: hsl(184, 14%, 56%);
    --mainBG: hsl(185, 41%, 84%);
    --rightText: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --resetBtn: hsl(183,78%,23%);
    --resetText: rgb(5, 77, 78);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', serif;
    background-color: var(--mainBG);
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: auto;
    margin-top: 163px;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.app-area {
    display: flex;
    justify-content: center;
    width: 920px;
    background-color: var(--white);
    border-radius: 25px;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.left-side {
    flex: 1;
    margin-right: 40px;
}

.bill {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
}

.bill img {
    height: 27px;
    padding: 5px;
    position: absolute;
    margin-left: 17px;
    margin-top: 18px;
    line-height: 30px;
}

.bill-title {
    font-size: 16px;
    margin-left: 2px;
    color: var(--leftText);
}

.bill-input {
    width: 375px;
    margin-top: 7px;
    margin-left: 5px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Space Mono';
    color: var(--card);
    height: 48px;
    padding: 15px;
    background-color: var(--rightText);
    text-align: right;
    border-radius: 5px;
}

.bill-input:focus,
.people-input:focus {
    border: 2px solid var(--activeBG);
}

.bill-input::placeholder {
    color: var(--placeholderText);
}

.bill-input::-webkit-outer-spin-button,
.bill-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.tip {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 19px;
}

.tip-title {
    color: var(--leftText);
    font-size: 16px;
}

.tip-btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.tip-btn {
    width: 115px;
    padding: 5px 30px;
    margin: 15px 15px 0 0;
    font-size: 26px;
    font-weight: 700;
    border-radius: 7px;
    background-color: var(--btnsBG);
    border: 0;
    color: var(--white);
    text-align: center;
    font-family: 'Space Mono';
}

.btn-custom {
    width: 115px;
    padding: 5px;
    margin: 15px 15px 0 0;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    font-family: 'Space Mono';
    background-color: var(--rightText);
    color: var(--resetBtn);
    border-radius: 7px;
    border: 0;
}

.tip-btn.active,
.btn-custom.active {
    background-color: var(--activeBG);
    color: var(--card);
}

.tip-btn:hover,
.btn-custom:hover {
    cursor: pointer;
    background-color: var(--mainBG);
    color: var(--card);
}

.people-title {
    color: var(--leftText);
    margin: 40px 0 0 17px;
    font-size: 16px;
}

.people img {
    height: 27px;
    padding: 5px;
    position: absolute;
    margin-left: 30px;
    margin-top: 18px;
    line-height: 30px;
}

.people-input {
    width: 375px;
    border: none;
    outline: none;
    margin: 7px 0 0 20px;
    font-size: 25px;
    font-family: 'Space Mono';
    color: var(--card);
    height: 48px;
    padding: 15px;
    font-weight: 600;
    background-color: var(--rightText);
    text-align: right;
}

.people-input::-webkit-outer-spin-button,
.people-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.people-input::placeholder {
    color: var(--placeholderText);
}

.right-side {
    width: 415px;
    height: 415px;
    background-color: var(--btnsBG);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
    margin-left: -5px;
    margin-top: 5px;
}

.right-side-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tip-amount-title {
    color: var(--rightText);
    font-size: 15px;
    margin-top: 15px;

}
.total-person-title {
    color: var(--rightText);
    font-size: 15px;
    margin-top: 50px;
}

.tip-amount-desc,
.total-person-desc {
    color: var(--placeholderText);
    font-size: 12px;
}

.right-side-inputs {
    margin-bottom: 15px;
}

.tip-input, 
.total-input {
    color: var(--activeBG);
    margin-bottom: 25px;
    font-size: 47px;
    font-weight: 700;
}

.reset-btn {
    width: 333px;
    height: 100px;
    background-color: var(--resetBtn);
    color: var(--resetText);
    font-family: 'Space Mono';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 72px;
    border: none;
    border-radius: 5px;
}

.reset-btn:enabled {
    background-color: var(--activeBG);
}

@media(max-width: 1000px) {
    header {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .app-area {
        flex-direction: column;
        width: 500px;
        padding: 50px;
        margin-top: 40px;
        align-items: center;
    }

    .right-side {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 0;
    }

    .app-area {
        width: 375px;
        padding: 16px;
        padding-bottom: 30px;
    }

    .left-side {
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bill {
        margin-bottom: 16px;
    }

    .bill-input {
        width: 310px;
        padding: 15px;
        margin-left: 0;
    }

    .tip {
        margin-left: 0;
        padding-left: 15px;
        margin: auto;
    }

    .tip-btn,
    .btn-custom {
        width: 150px;
        padding: 5px 25px;
        margin: 16px 14px 0 0;
    }

    .people-title {
        margin: 33px 0 0 5px;
    }

    .people img {
        margin-left: 15px;
    }

    .people-input {
        width: 310px;
        margin: 7px 0 0 5px;

    }

    .right-side {
        width: 325px;
        height: 250px;
        margin-left: 0;
        margin-top: 30px;
        padding: 25px;
    }

    .right-side-content {
        margin-bottom: 0;
    }

    .tip-amount-title {
        margin-top: 18px;
    }

    .total-person-title {
        margin-top: 20px;
    }

    .right-side-inputs {
        margin-top: 15px;
    }

    .tip-input,
    .total-input {
        font-size: 30px;
    }

    .reset-btn {
        width: 280px;
        height: 130px;
        padding: 10px;
        margin-top: -10px;
    }
}